// Colors
$clr1: #1f1b1b;
$clr2: #f1e0d7;
$clr3: #646464;
$clr4: #959191;
$clr5: #4b4e4d5d;
$clr6: rgb(10, 10, 10);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 620px;
$normal-breakpoint: 960px;
